/* variables */
:root {
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}

/* order : follows html flow */
/* overall */
* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    background-color: var(--Very-dark-blue-main-BG);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 18px;
    font-weight: 300;
}

/* card section */
.card {
    border-radius: 1rem;
    background-color: var(--Very-dark-blue-card-BG);
    width: 20rem;
    min-width: 20rem;
    padding: 1.5rem;
}

/* image-container section */
.image-container {
    border-radius: .5rem;
    overflow: hidden;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container>img {
    width: 100%;
}

.hover-image-ctrl-box {
    position: absolute;
    background-color: hsl(178, 100%, 50%, 50%);
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .3s ease-in-out;
}

.main-image {
    position: relative;
}

.main-image:hover .hover-image-ctrl-box {
    opacity: 1;
    cursor: pointer;
}

/* text-container section */
h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h1:hover {
    cursor: pointer;
    color: var(--Cyan);
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eth::before {
    content: url(images/icon-ethereum.svg);
}

.clock::before {
    content: url(images/icon-clock.svg);
}

/* profile section */
.profile {
    display: flex;
    align-items: center;
}

.white-background {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--White);
    padding: 1px;
    margin-right: 1.3rem;
}

.creator:hover {
    color: var(--Cyan);
    cursor: pointer;
}

/* font color */
.color-white {
    color: var(--White);
}

.small-icon::before {
    margin-right: .4rem;
    align-self: baseline;
    vertical-align: middle;
}

.color-soft-blue {
    color: var(--Soft-blue);
}

.color-cyan {
    color: var(--Cyan);
}

hr {
    background-color: var(--Very-dark-blue-line);
    height: 1px;
    border: 0;
}